body {
	background-color: black;
	background-image: url("stripe.png");
	color: white;
	font-size: 10pt;
	font-family: Arial, Helvetica;
}

a:link,a:visited {
	color: white;
}

h1 {
	color: #00c0ff;
	font-size: 20pt;
	border-bottom: 1px solid #00c0ff;
}

h2 {
	font-size: 12pt;
	border-bottom: 1px dotted white;
}

.bold {
	color: #00FF66;
	font-weight: bold;
	border-bottom: 1px dotted #00FF66;
}

a.box {
	color: #00c0ff;
}

p.box {
	color: #00c0ff;
	border: 1px dotted #00c0ff;
	background-color: #006699;
	text-align: center;
	padding: 5px;
}

p.bodybox {
	color: white;
	border: 1px dotted white;
	padding: 5px 20px 5px 20px;
	background-color: #171717;
}

p.topbox {
	font-size: 8pt;
	text-align: right;
	color: black;
	font-weight: bold;
	border: 1px dotted white;
	padding: 5px 20px 5px 20px;
	background-color: white;
}

foot {
	font-size: 6pt;
	text-align: center;
}

#updating {
	position: absolute; bottom: 5px; right: 5px;
	color: white;
	background-color: green;
	border: 1px dotted white;
	margin: 2px;
	padding: 3px;
}

.arrived {
	color: #444444;
}

h2.arrived {
	border-bottom: 1px dotted #444444;
}

.phone {
	border-bottom: 1px dotted #444444;
}