<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>SMSEntryServlet</servlet-name>
		<servlet-class>bzb.gae.SMSEntryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SMSEntryServlet</servlet-name>
		<url-pattern>/info</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EndOfJourneyChecker</servlet-name>
		<servlet-class>bzb.gae.summer.EndOfJourneyChecker</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EndOfJourneyChecker</servlet-name>
		<url-pattern>/cron/summer/checkGroups</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TweetServlet</servlet-name>
		<servlet-class>bzb.gae.summer.TweetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TweetServlet</servlet-name>
		<url-pattern>/summer/tweets</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TweetChecker</servlet-name>
		<servlet-class>bzb.gae.summer.TweetChecker</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TweetChecker</servlet-name>
		<url-pattern>/cron/summer/checkTweets</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Nuke</servlet-name>
		<servlet-class>bzb.gae.summer.Nuke</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Nuke</servlet-name>
		<url-pattern>/summer/nuke</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StateServlet</servlet-name>
		<servlet-class>bzb.gae.summer.StateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StateServlet</servlet-name>
		<url-pattern>/summer/state</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SummerMobileServlet</servlet-name>
		<servlet-class>bzb.gae.summer.MobileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SummerMobileServlet</servlet-name>
		<url-pattern>/summer/mobile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SendSMSServlet</servlet-name>
		<servlet-class>bzb.gae.SendSMSServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendSMSServlet</servlet-name>
		<url-pattern>/sendSMS</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SendTweetServlet</servlet-name>
		<servlet-class>bzb.gae.SendTweetServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SendTweetServlet</servlet-name>
		<url-pattern>/sendTweet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MeetMobileServlet</servlet-name>
		<servlet-class>bzb.gae.meet.MobileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MeetMobileServlet</servlet-name>
		<url-pattern>/meet/mobile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>bzb.gae.Test</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>info</welcome-file>
	</welcome-file-list>
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
